<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension-point id="generators" name="Code generators" schema="schema/generators.exsd"/>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:ru.neodoc.content.modeller.modelexplorer.alfresco?after=ru.neodoc.content.modeller.separator3">
         <separator
               name="ru.neodoc.content.codegen.separator1">
         </separator>
         <menu
               icon="icons/neodoc/codegen/source_code.gif"
               id="ru.neodoc.content.codegen"
               label="Source code">
            <command
                  commandId="ru.neodoc.content.codegen.generate"
                  icon="icons/neodoc/codegen/source_code_generate.gif"
                  label="Generate Source Code ..."
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="ru.neodoc.content.codegen.main"
            name="main">
      </category>
      <command
            categoryId="ru.neodoc.content.codegen.main"
            description="Generate source code"
            id="ru.neodoc.content.codegen.generate"
            name="name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ru.neodoc.content.codegen.handlers.GenerateSourceCodeHandler"
            commandId="ru.neodoc.content.codegen.generate">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ru.neodoc.content.codegen.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ru.neodoc.content.modeller.preferences.NeodocPreferencePage"
            class="ru.neodoc.content.codegen.preferences.CodegenPreferencePage"
            id="ru.neodoc.content.codegen.preferences.CodegenPreferencePage"
            name="Source code generation">
      </page>
   </extension>
</plugin>
