<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="annotationFactory" name="Annotation factory" schema="schema/annotationFactory.exsd"/>
   <extension-point id="codegenExtension" name="Sdoc codegen extension" schema="schema/codegenExtension.exsd"/>
   <extension
         point="ru.neodoc.content.codegen.generators">
      <generator
            component="ru.neodoc.content.codegen.sdoc2.SourceCodeGenerator"
            description="Sdoc Java and JavaScript Code Generator fully compatible with SdocTools project generated sources"
            display_name="Sdoc Java &amp; JavaScript Code Generator #2"
            id="ru.neodoc.content.codegen.sdoc2.SourceCodeGenerator">
      </generator>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ru.neodoc.content.codegen.sdoc2.preferences.PreferenceInitializer">
      </initializer>
      <initializer
            class="ru.neodoc.content.codegen.sdoc2.extension.javascript.preferences.JavascriptPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ru.neodoc.content.codegen.preferences.CodegenPreferencePage"
            class="ru.neodoc.content.codegen.sdoc2.preferences.SdocPreferencePage"
            id="ru.neodoc.content.codegen.sdoc2.preferences.SdocPreferencePage"
            name="Sdoc2 generator">
      </page>
      <page
            category="ru.neodoc.content.codegen.sdoc2.preferences.SdocPreferencePage"
            class="ru.neodoc.content.codegen.sdoc2.extension.java.preferences.JavaPreferencePage"
            id="ru.neodoc.content.codegen.sdoc2.java"
            name="Java">
      </page>
      <page
            category="ru.neodoc.content.codegen.sdoc2.preferences.SdocPreferencePage"
            class="ru.neodoc.content.codegen.sdoc2.extension.javascript.preferences.JavascriptPreferencePage"
            id="ru.neodoc.content.codegen.sdoc2.javascript"
            name="Javascript ">
      </page>
   </extension>
   <extension
         point="ru.neodoc.content.codegen.sdoc2.codegenExtension">
      <codegenExtension
            component="ru.neodoc.content.codegen.sdoc2.extension.java.JavaCodegenExtension"
            id="ru.neodoc.content.codegen.sdoc2.extension.java"
            useFirst="true">
      </codegenExtension>
      <codegenExtension
            component="ru.neodoc.content.codegen.sdoc2.extension.javascript.JavaScriptCodegenExtension"
            id="ru.neodoc.content.codegen.sdoc2.extension.javascript"
            useAfter="ru.neodoc.content.codegen.sdoc2.extension.java">
      </codegenExtension>
   </extension>
   <extension
         point="ru.neodoc.content.codegen.sdoc2.annotationFactory">
      <annotationFactory
            component="ru.neodoc.content.codegen.sdoc2.extension.java.annotation.NullAnnotationFactory"
            id="No annotations">
      </annotationFactory>
      <annotationFactory
            component="ru.neodoc.content.codegen.sdoc2.extension.java.annotation.DefaultAnnotationFactory"
            id="Default Sdoc annotations">
      </annotationFactory>
   </extension>

</plugin>
