<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="annotationFactory" name="Annotation factory" schema="schema/annotationFactory.exsd"/>
   <extension
         point="ru.neodoc.content.codegen.generators">
      <generator
            component="ru.neodoc.content.codegen.sdoc.SourceCodeGenerator"
            description="Sdoc Java and JavaScript Code Generator fully compatible with SdocTools project generated sources"
            display_name="Sdoc Java &amp; JavaScript Code Generator"
            id="ru.neodoc.content.codegen.sdoc.SourceCodeGenerator">
      </generator>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ru.neodoc.content.codegen.sdoc.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ru.neodoc.content.codegen.preferences.CodegenPreferencePage"
            class="ru.neodoc.content.codegen.sdoc.preferences.SdocPreferencePage"
            id="ru.neodoc.content.codegen.sdoc.preferences.SdocPreferencePage"
            name="Sdoc generator">
      </page>
   </extension>

</plugin>
