@charset "UTF-8";

ProfileDiagram[name="Profile Diagram"] Compartment[kind=attributes]{
	visible: true;
}

ProfileDiagram[name="Profile Diagram"] Compartment[kind=operations]{
	visible: false;
}

Compartment[kind=attributes]{
	visible: true;
}

Compartment[kind=operations]{
	collapsed: false;
	visible: true;
	filteredObjects: url(*);
}

Class[appliedStereotypes~=Metaclass] {
	fontSize: 25px;
	fontName:"Segoe UI";
	fillColor:#E3A49C;
	transparency:0;
	gradient:#FFFFFF vertical;
	lineColor:#000000
}

Label[type=StereotypeLabel]{
	depth:-1;
}
Stereotype[isAbstract=false] {
	fontName:"Segoe UI";
	fillColor:#A6C198;
	transparency:0;
	gradient:#FFFFFF vertical;
	lineColor:#000000
}

/*
Stereotype[isAbstract=true][generalization=null] {
	fontName:"Segoe UI";
	italic:true;
	fillColor:#C3D1D5;
	transparency:0;
	gradient:#FFFFFF vertical;
	lineColor:#000000
}
*/
Stereotype[isAbstract=true] {
	fontName:"Segoe UI";
	italic:true;
	fillColor:#C3D1D5;
	transparency:0;
	gradient:#FFFFFF vertical;
	lineColor:#000000
}

Stereotype[isAbstract=false].optional {
	fontName:"Segoe UI";
	fillColor:#E1E187;
	transparency:0;
	gradient:#FFFFFF vertical;
	lineColor:#000000
}

Stereotype.untyped {
	fontName:"Segoe UI";
	italic:true;
	fillColor:#9BC7CC;
	transparency:0;
	gradient:#FFFFFF vertical;
	lineColor:#000000
}

Generalization {
	fontName:"Segoe UI";
	lineColor:/*#9BC7CC*/#539499;
}

Association {
	fontName:"Segoe UI";
	lineColor:#1F38E9
}

Extension {
	fontName:"Segoe UI";
	lineColor:#000000;
	fillColor:#E3A49C;
}

