@charset "UTF-8";

/* default css */

Generalization {
	fontColor: #000000;
	fontName: "Segoe UI";
	fontHeight: 9;
	roundedBendpointsRadius: 0;
	lineColor: #0000A0;
	lineWidth: -1
}

Class {
	 fillColor: #D5D9FF;
	 transparency: -1;
	 gradient: #FFFFFF horizontal;
}

Class[appliedStereotypes~="alfresco::aspect"]{
	 fontColor: #000000;
	 fontName: "Segoe UI";
	 fontHeight: 9;
	 fillColor: #C3DDC3;
	 transparency: -1;
	 gradient: #FFFFFF vertical;
	 lineColor: #000000;
	 lineWidth: -1;
	 roundedBendpointsRadius: 0;
	 qualifiedNameDepth: -3
}

Class[appliedStereotypes~="alfresco::type"] {
	fontColor: #000000;
	fontName: "Segoe UI";
	fontHeight: 9;
	fillColor: #C3D7DD;
	transparency: -1;
	gradient: #FFFFFF vertical;
	lineColor: #000000;
	lineWidth: -1;
	roundedBendpointsRadius: 0;
	qualifiedNameDepth: -3}


Association[appliedStereotypes~="alfresco::association"] {
	fontColor: #000000;
	fontName: "Segoe UI";
	fontHeight: 9;
	roundedBendpointsRadius: 0;
	lineColor: #637963;
	lineWidth: 2;
	displayName: true}

Association[appliedStereotypes~="alfresco::mandatory-aspect"] {
	fontColor: #000000;
	fontName: "Segoe UI";
	fontHeight: 9;
	roundedBendpointsRadius: 0;
	lineColor: #B897C0;
	lineWidth: 2;
	displayName: false
}

Association[appliedStereotypes~="alfresco::mandatory-aspect"] > Label:name {
	visible: false;
}

Association[appliedStereotypes~="alfresco::mandatory-aspect"] > Label:sourceMultiplicity,  
Association[appliedStereotypes~="alfresco::mandatory-aspect"] > Label:targetMultiplicity,
Association[appliedStereotypes~="alfresco::mandatory-aspect"] > Label:sourceRole,  
Association[appliedStereotypes~="alfresco::mandatory-aspect"] > Label:targetRole{
	visible: false;
}

Association[appliedStereotypes~="alfresco::child-association"] {
	fontColor: #000000;
	fontName: "Segoe UI";
	fontHeight: 9;
	roundedBendpointsRadius: 0;
	lineColor:#1A1AC4;
	lineWidth:2;
	displayName: true
}

Association[appliedStereotypes~="alfresco::child-association"] > Label:sourceMultiplicity,
Association[appliedStereotypes~="alfresco::child-association"] > Label:targetMultiplicity,
Association[appliedStereotypes~="alfresco::association"] > Label:sourceMultiplicity,
Association[appliedStereotypes~="alfresco::association"] > Label:targetMultiplicity {
	visible: false;
}

Association[appliedStereotypes~="alfresco::child-association"] > Label:sourceRole,
Association[appliedStereotypes~="alfresco::child-association"] > Label:targetRole,
Association[appliedStereotypes~="alfresco::association"] > Label:sourceRole,
Association[appliedStereotypes~="alfresco::association"] > Label:targetRole {
	maskLabel: name multiplicity;
}


/*
Association > Label:sourceMultiplicity {
	visible:false;
}
 
Association > Label:targetMultiplicity {
	visible:false;
}
 
Association > Label:sourceRole {
	maskLabel: name multiplicity;
}
 
Association > Label:targetRole {
	maskLabel: name multiplicity;
}
*/
Dependency[appliedStereotypes~="alfresco::constrainted"]{
	lineColor:#1A1AC4;
	displayName: false 
}
 
Dependency[appliedStereotypes~="alfresco::constrainted-inline"]{
	lineColor:#1A1AC4;
	displayName: false 
}
 
Dependency[appliedStereotypes~="alfresco::property-override"] {
	lineColor:#6041A0;
	lineWidth:2;
	displayName: false 
}

Dependency>Label:name {
    visible: false;
    displayName: false;
}

Property {
	italic: true;
}

Property[appliedStereotypes~="alfresco::property"] {
	italic: false;
}