<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ru.neodoc.content.modeller.modellerExtension" name="Content Modeller extension" schema="schema/ru.neodoc.content.modeller.modellerExtension.exsd"/>
	<extension
	     point="org.eclipse.ui.newWizards">
		<wizard
		     category="org.eclipse.papyrus.wizards.category"
		     class="ru.neodoc.content.modeller.ui.wizards.NewAlfrescoContentProjectWizard"
		     finalPerspective="org.eclipse.papyrus.infra.core.perspective"
		     icon="icons/neodoc/new_alfresco_content_project.gif"
		     id="org.eclipse.papyrus.uml.diagram.wizards.createalfrescocontentproject"
		     name="Alfresco Content Project"
		     project="true">
			<description>
			     New Alfresco Content Project
			</description>
		</wizard>
		<wizard
		     category="org.eclipse.papyrus.wizards.category"
		     class="ru.neodoc.content.modeller.ui.wizards.NewAlfrescoContentModelWizard"
		     finalPerspective="org.eclipse.papyrus.infra.core.perspective"
		     icon="icons/neodoc/new_alfresco_content_model.gif"
		     id="org.eclipse.papyrus.uml.diagram.wizards.createalfrescocontentmodel"
		     name="Alfresco Content Model">
			  <selection
			        class="org.eclipse.core.resources.IResource">
			  </selection>
		   </wizard>
	</extension>

<!-- TODO
   <extension
         point="org.eclipse.papyrus.infra.core.papyrusDiagram">
      <creationCommand
            creationCommandClass="ru.neodoc.content.modeller.diagram.clazz.CreateAlfrescoClassDiagramCommand"
            creationCondition="org.eclipse.papyrus.uml.diagram.clazz.ClassDiagramCreationCondition"
            icon="icons/obj16/Diagram_Class.gif"
            id="ru.neodoc.content.modeller.diagram.clazz.CreateAlfrescoClassDiagramCommand"
            language="alfresco"
            label="Alfresco Content Model Diagram">
      </creationCommand>
      <diagramCategory
            class="ru.neodoc.content.modeller.commands.create.CreateAlfrescoContentModelCommand"
            description="Alfresco Diagrams"
            icon="icons/category_alfresco.gif"
            id="alfresco"
            label="Alfresco">
      </diagramCategory>      
   </extension>
-->

   <!--extension
         point="org.eclipse.ui.editors">
      <editor
            class="ru.neodoc.content.modeller.resource.alfresco.editor.AlfrescoRegistryXMLEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="dictsold"
            icon="icons/neodoc/new_alfresco_content_model.gif"
            id="ru.neodoc.content.modeller.resource.alfresco.editor.AlfrescoRegistryXMLEditor"
            name="Alfresco Registry XML Editor">
      </editor>
   </extension-->
   <!--extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://neodoc.neologica.ru/tools/alfresco/modeller/dictionaries"
            class="ru.neodoc.content.modeller.alfresco.model.alfresco.dictionaries.provider.DictionariesItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension-->
   
      <!--extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ru.neodoc.content.modeller.alfresco.model.alfresco.dictionaries.presentation.DictionariesModelWizardID"
            name="%_UI_DictionariesModelWizard_label"
            class="ru.neodoc.content.modeller.alfresco.model.alfresco.dictionaries.presentation.DictionariesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DictionariesModelFile.gif">
         <description>%_UI_DictionariesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension-->

   <!--extension point="org.eclipse.ui.editors">
      <editor
            id="ru.neodoc.content.modeller.alfresco.model.alfresco.dictionaries.presentation.DictionariesEditorID"
            name="%_UI_DictionariesEditor_label"
            icon="icons/neodoc/new_alfresco_content_model.gif"
            extensions="alfresco"
            class="ru.neodoc.content.modeller.alfresco.model.alfresco.dictionaries.presentation.DictionariesEditor"
            contributorClass="ru.neodoc.content.modeller.alfresco.model.alfresco.dictionaries.presentation.DictionariesActionBarContributor">
      </editor>
   </extension-->
   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated alfresco -->
      <package
            uri="http://neodoc.neologica.ru/tools/alfresco/modeller"
            class="ru.neodoc.content.ecore.alfresco.model.alfresco.AlfrescoPackage"
            genModel="model/alfresco.genmodel"/>
      <package
            class="ru.neodoc.content.ecore.alfresco.model.alfresco.dictionaries.DictionariesPackage"
            genModel="model/alfresco.genmodel"
            uri="http://neodoc.neologica.ru/tools/alfresco/modeller/dictionaries">
      </package>
   </extension>

   <extension point="org.eclipse.emf.ecore.content_parser">
      <!-- @generated alfresco -->
      <parser
            contentTypeIdentifier="ru.neodoc.modeller.alfresco"
            class="org.eclipse.emf.ecore.xmi.impl.XMIResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.core.contenttype.contentTypes">
      <!-- @generated alfresco -->
      <content-type
            base-type="org.eclipse.emf.ecore.xmi"
            file-extensions="alfresco"
            id="ru.neodoc.modeller.alfresco"
            name="%_UI_Alfresco_content_type"
            priority="normal">
         <describer class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
            <parameter name="namespace" value="http://neodoc.neologica.ru/tools/alfresco/modeller"/>
            <parameter name="kind" value="xmi"/>
         </describer>
      </content-type>
   </extension>


   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated alfresco -->
      <factory
            uri="http://neodoc.neologica.ru/tools/alfresco/modeller"
            class="ru.neodoc.content.ecore.alfresco.model.alfresco.provider.AlfrescoItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
      <factory
            class="ru.neodoc.content.ecore.alfresco.model.alfresco.dictionaries.provider.extended.DictionariesItemProviderAdapterFactoryEx"
            uri="http://neodoc.neologica.ru/tools/alfresco/modeller/dictionaries"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemColorProvider
               org.eclipse.emf.edit.provider.IItemPropertySource">
      </factory>
   </extension>



   



   <extension point="org.eclipse.ui.editors">
      <editor
            id="ru.neodoc.content.modeller.alfresco.model.alfresco.presentation.AlfrescoEditorID"
            name="%_UI_AlfrescoEditor_label"
            icon="icons/neodoc/new_alfresco_content_model.gif"
            extensions="dicts,alfresco"
            class="ru.neodoc.content.ecore.alfresco.model.alfresco.presentation.AlfrescoEditor"
            contributorClass="ru.neodoc.content.ecore.alfresco.model.alfresco.presentation.AlfrescoActionBarContributor">
         <contentTypeBinding
               contentTypeId="ru.neodoc.modeller.alfresco">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Test Alfresco Command"
            id="ru.neodoc.content.modeller.alfresco.test"
            name="Test Alfresco Command">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Create elements from dictionaries defined in Alfresco model"
            id="ru.neodoc.content.modeller.alfresco.elements.from.dictionaries"
            name="Create elements from dictionaries ...">
      </command>
      <!--command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Create elements from dictionaries defined in Alfresco model [OLD]"
            id="ru.neodoc.content.modeller.alfresco.elements.from.dictionaries.old"
            name="Create elements from dictionaries [OLD] ...">
      </command-->
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Update imports and dependencies"
            id="ru.neodoc.content.modeller.update.imports.dependencies"
            name="Update imports and dependencies">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Export to XML [OLD]"
            id="ru.neodoc.content.modeller.alfresco.export.xml"
            name="Export to XML [OLD]">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Export to new XML [OLD]"
            id="ru.neodoc.content.modeller.alfresco.export.xml.new"
            name="Export to new XML [OLD]">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Export to XML"
            id="ru.neodoc.content.modeller.alfresco.export.xml2"
            name="Export to XML">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Export to new XML"
            id="ru.neodoc.content.modeller.alfresco.export.xml2.new"
            name="Export to new XML">
      </command>
      <!--command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Update from XML [OLD]"
            id="ru.neodoc.content.modeller.alfresco.import.xml"
            name="Update from XML">
      </command-->
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Update from XML"
            id="ru.neodoc.content.modeller.alfresco.import.xml2"
            name="Update from XML [NEW]">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Load from XML"
            id="ru.neodoc.content.modeller.alfresco.load.xml"
            name="Load from XML">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Model"
            id="ru.neodoc.content.modeller.new.model"
            name="Model">
      </command>
      <command
            description="Model from file"
            id="ru.neodoc.content.modeller.new.model.from.file"
            name="Model from file">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Namespace"
            id="ru.neodoc.content.modeller.new.namespace"
            name="Namespace">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Test 2"
            id="ru.neodoc.content.modeller.alfresco.test2"
            name="Test2">
      </command>
   </extension>
	<extension point="org.eclipse.core.expressions.propertyTesters">
		<propertyTester
		  id="ru.neodoc.content.modeller.ContainerPropertyTester"
		  type="java.lang.Object"
		  namespace="ru.neodoc.content.modeller.package"
		  properties="isAlfresco,isModel,isNamespace,hasXmlFile,inModel,inNamespace"
		  class="ru.neodoc.content.modeller.utils.ContainerPropertyTester">
		</propertyTester>
	</extension>   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ru.neodoc.content.modeller.modelexplorer.handlers.Testhandler"
            commandId="ru.neodoc.content.modeller.alfresco.test">
      </handler>
      <handler
            class="ru.neodoc.content.modeller.modelexplorer.handlers.CreateElementsFromDictionariesHandler2"
            commandId="ru.neodoc.content.modeller.alfresco.elements.from.dictionaries">
         <activeWhen>
            <and>
               <with
                     variable="selection">
                  <iterate>
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <instanceof
                              value="org.eclipse.uml2.uml.Package">
                        </instanceof>
                     </adapt>
                  </iterate>
               </with>
               <count
                     value="1">
               </count>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="ru.neodoc.content.modeller.modelexplorer.handlers.CreateElementsFromDictionariesHandler"
            commandId="ru.neodoc.content.modeller.alfresco.elements.from.dictionaries.old">
         <activeWhen>
            <and>
               <with
                     variable="selection">
                  <iterate>
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <instanceof
                              value="org.eclipse.uml2.uml.Package">
                        </instanceof>
                     </adapt>
                  </iterate>
               </with>
               <count
                     value="1">
               </count>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="ru.neodoc.content.modeller.modelexplorer.handlers.UpdateImportsAndDependenciesHandler"
            commandId="ru.neodoc.content.modeller.update.imports.dependencies">
         <activeWhen>
            <and>
               <with
                     variable="selection">
                  <iterate>
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <instanceof
                              value="org.eclipse.uml2.uml.Package">
                        </instanceof>
                     </adapt>
                  </iterate>
               </with>
               <or>
	               <with
	                     variable="selection">
	                  <iterate>
	                     <adapt
	                           type="org.eclipse.emf.ecore.EObject">
	                        <test property="ru.neodoc.content.modeller.package.isAlfresco" />
	                     </adapt>
	                  </iterate>
	               </with>
	               <with
	                     variable="selection">
	                  <iterate>
	                     <adapt
	                           type="org.eclipse.emf.ecore.EObject">
	                        <test property="ru.neodoc.content.modeller.package.isModel" />
	                     </adapt>
	                  </iterate>
	               </with>
	               <with
	                     variable="selection">
	                  <iterate>
	                     <adapt
	                           type="org.eclipse.emf.ecore.EObject">
	                        <test property="ru.neodoc.content.modeller.package.isNamespace" />
	                     </adapt>
	                  </iterate>
	               </with>
               </or>
               <count
                     value="1">
               </count>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="ru.neodoc.content.modeller.modelexplorer.handlers.ExportToXMLHandler"
            commandId="ru.neodoc.content.modeller.alfresco.export.xml">
         <activeWhen>
            <and>
               <with
                     variable="selection">
                  <iterate>
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <instanceof
                              value="org.eclipse.uml2.uml.Package">
                        </instanceof>
                     </adapt>
                  </iterate>
               </with>
               <with
                        variable="selection">
                 <iterate>
                    <adapt
                          type="org.eclipse.emf.ecore.EObject">
                       <test
                             property="ru.neodoc.content.modeller.package.isModel">
                       </test>
                    </adapt>
                 </iterate>
              </with>
               <with
                        variable="selection">
                 <iterate>
                    <adapt
                          type="org.eclipse.emf.ecore.EObject">
                       <test
                             property="ru.neodoc.content.modeller.package.hasXmlFile">
                       </test>
                    </adapt>
                 </iterate>
              </with>
               <count
                     value="1">
               </count>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="ru.neodoc.content.modeller.modelexplorer.handlers.ExportToNewXMLHandler"
            commandId="ru.neodoc.content.modeller.alfresco.export.xml.new">
         <activeWhen>
            <and>
               <with
                     variable="selection">
                  <iterate>
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <instanceof
                              value="org.eclipse.uml2.uml.Package">
                        </instanceof>
                     </adapt>
                  </iterate>
               </with>
               <with
                        variable="selection">
                 <iterate>
                    <adapt
                          type="org.eclipse.emf.ecore.EObject">
                       <test
                             property="ru.neodoc.content.modeller.package.isModel">
                       </test>
                    </adapt>
                 </iterate>
               </with>
               <count
                     value="1">
               </count>
            </and>
         </activeWhen>
      </handler>
     <handler
            class="ru.neodoc.content.modeller.modelexplorer.handlers.ExportToXMLHandler2"
            commandId="ru.neodoc.content.modeller.alfresco.export.xml2">
         <activeWhen>
            <and>
               <with
                     variable="selection">
                  <iterate>
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <instanceof
                              value="org.eclipse.uml2.uml.Package">
                        </instanceof>
                     </adapt>
                  </iterate>
               </with>
               <with
                        variable="selection">
                 <iterate>
                    <adapt
                          type="org.eclipse.emf.ecore.EObject">
                       <test
                             property="ru.neodoc.content.modeller.package.isModel">
                       </test>
                    </adapt>
                 </iterate>
              </with>
               <with
                        variable="selection">
                 <iterate>
                    <adapt
                          type="org.eclipse.emf.ecore.EObject">
                       <test
                             property="ru.neodoc.content.modeller.package.hasXmlFile">
                       </test>
                    </adapt>
                 </iterate>
              </with>
               <count
                     value="1">
               </count>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="ru.neodoc.content.modeller.modelexplorer.handlers.ExportToNewXMLHandler2"
            commandId="ru.neodoc.content.modeller.alfresco.export.xml2.new">
         <activeWhen>
            <and>
               <with
                     variable="selection">
                  <iterate>
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <instanceof
                              value="org.eclipse.uml2.uml.Package">
                        </instanceof>
                     </adapt>
                  </iterate>
               </with>
               <with
                        variable="selection">
                 <iterate>
                    <adapt
                          type="org.eclipse.emf.ecore.EObject">
                       <test
                             property="ru.neodoc.content.modeller.package.isModel">
                       </test>
                    </adapt>
                 </iterate>
               </with>
               <count
                     value="1">
               </count>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="ru.neodoc.content.modeller.modelexplorer.handlers.UpdateFromXMLHandler"
            commandId="ru.neodoc.content.modeller.alfresco.import.xml">
         <activeWhen>
            <and>
               <with
                     variable="selection">
                  <iterate>
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <instanceof
                              value="org.eclipse.uml2.uml.Package">
                        </instanceof>
                     </adapt>
                  </iterate>
               </with>
               <with
                     variable="selection">
                  <iterate>
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <test
                              property="ru.neodoc.content.modeller.package.isModel">
                        </test>
                     </adapt>
                  </iterate>
               </with>
               <with
                     variable="selection">
                  <iterate>
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <test
                              property="ru.neodoc.content.modeller.package.hasXmlFile">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="ru.neodoc.content.modeller.modelexplorer.handlers.UpdateFromXMLHandler2"
            commandId="ru.neodoc.content.modeller.alfresco.import.xml2">
         <activeWhen>
            <and>
               <with
                     variable="selection">
                  <iterate>
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <instanceof
                              value="org.eclipse.uml2.uml.Package">
                        </instanceof>
                     </adapt>
                  </iterate>
               </with>
               <with
                     variable="selection">
                  <iterate>
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <test
                              property="ru.neodoc.content.modeller.package.isModel">
                        </test>
                     </adapt>
                  </iterate>
               </with>
               <with
                     variable="selection">
                  <iterate>
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <test
                              property="ru.neodoc.content.modeller.package.hasXmlFile">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="ru.neodoc.content.modeller.modelexplorer.handlers.LoadFromXMLHandler"
            commandId="ru.neodoc.content.modeller.alfresco.load.xml">
         <activeWhen>
            <and>              
               	<with variable="selection">
                  <iterate>
					<instanceof
					      value="org.eclipse.uml2.uml.Package">
					</instanceof>
                  </iterate>
               </with>
               <with variable="selection">
                  <iterate>
	                <test property="ru.neodoc.content.modeller.package.isModel">
	                </test>
                  </iterate>
               </with>
                <count value="1">
               	</count>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="ru.neodoc.content.modeller.modelexplorer.handlers.NewModelHandler"
            commandId="ru.neodoc.content.modeller.new.model">
         <activeWhen>
            <and>
               <with
                     variable="selection">
                  <iterate>
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <instanceof
                              value="org.eclipse.uml2.uml.Package">
                        </instanceof>
                     </adapt>
                  </iterate>
               </with>
               <not>
	               <with
	                     variable="selection">
	                  <iterate>
	                     <adapt
	                           type="org.eclipse.emf.ecore.EObject">
	                        <test
	                              property="ru.neodoc.content.modeller.package.inModel">
	                        </test>
	                     </adapt>
	                  </iterate>
	               </with>
               </not>
               <not>
	               <with
	                     variable="selection">
	                  <iterate>
	                     <adapt
	                           type="org.eclipse.emf.ecore.EObject">
	                        <test
	                              property="ru.neodoc.content.modeller.package.isModel">
	                        </test>
	                     </adapt>
	                  </iterate>
	               </with>
               </not>
               <count
                     value="1">
               </count>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="ru.neodoc.content.modeller.modelexplorer.handlers.NewModelFromFileHandler"
            commandId="ru.neodoc.content.modeller.new.model.from.file">
         <activeWhen>
            <and>
               <with
                     variable="selection">
                  <iterate>
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <instanceof
                              value="org.eclipse.uml2.uml.Package">
                        </instanceof>
                     </adapt>
                  </iterate>
               </with>
               <not>
                  <with
                        variable="selection">
                     <iterate>
                        <adapt
                              type="org.eclipse.emf.ecore.EObject">
                           <test
                                 property="ru.neodoc.content.modeller.package.inModel">
                           </test>
                        </adapt></iterate>
                  </with>
               </not>
               <not>
                  <with
                        variable="selection">
                     <iterate>
                        <adapt
                              type="org.eclipse.emf.ecore.EObject">
                           <test
                                 property="ru.neodoc.content.modeller.package.isModel">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </not>
               <count
                     value="1">
               </count>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="ru.neodoc.content.modeller.modelexplorer.handlers.NewNamespaceHandler"
            commandId="ru.neodoc.content.modeller.new.namespace">
         <activeWhen>
            <and>
               <with
                     variable="selection">
                  <iterate>
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <instanceof
                              value="org.eclipse.uml2.uml.Package">
                        </instanceof>
                     </adapt>
                  </iterate>
               </with>
               <not>
	               <with
	                     variable="selection">
	                  <iterate>
	                     <adapt
	                           type="org.eclipse.emf.ecore.EObject">
	                        <test
	                              property="ru.neodoc.content.modeller.package.inNamespace">
	                        </test>
	                     </adapt>
	                  </iterate>
	               </with>
               </not>
               <not>
	               <with
	                     variable="selection">
	                  <iterate>
	                     <adapt
	                           type="org.eclipse.emf.ecore.EObject">
	                        <test
	                              property="ru.neodoc.content.modeller.package.isNamespace">
	                        </test>
	                     </adapt>
	                  </iterate>
	               </with>
               </not>
               <or>
	               <with
	                     variable="selection">
	                  <iterate>
	                     <adapt
	                           type="org.eclipse.emf.ecore.EObject">
	                        <test
	                              property="ru.neodoc.content.modeller.package.inModel">
	                        </test>
	                     </adapt>
	                  </iterate>
	               </with>
	               <with
	                     variable="selection">
	                  <iterate>
	                     <adapt
	                           type="org.eclipse.emf.ecore.EObject">
	                        <test
	                              property="ru.neodoc.content.modeller.package.isModel">
	                        </test>
	                     </adapt>
	                  </iterate>
	               </with>
               </or>
               <count
                     value="1">
               </count>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="ru.neodoc.content.modeller.modelexplorer.handlers.Test2Handler"
            commandId="ru.neodoc.content.modeller.alfresco.test2">
      </handler>
      <handler
            class="ru.neodoc.content.modeller.modelexplorer.handlers.ImportRegisteredNamespaceHandler"
            commandId="ru.neodoc.content.modeller.import.namespace.registered">
         <activeWhen>
            <with
                  variable="selection">
               <iterate>
                  <adapt
                        type="org.eclipse.emf.ecore.EObject">
                     <test
                           property="ru.neodoc.content.modeller.package.isModel">
                     </test>
                  </adapt>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ru.neodoc.content.modeller.modelexplorer.handlers.ImportNamespaceFromUserModelHandler"
            commandId="ru.neodoc.content.modeller.import.namespace.user">
         <activeWhen>
            <with
                  variable="selection">
               <iterate>
                  <adapt
                        type="org.eclipse.emf.ecore.EObject">
                     <test
                           property="ru.neodoc.content.modeller.package.isModel">
                     </test>
                  </adapt>
               </iterate>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup?before=org.eclipse.papyrus.views.modelexplorer.popupmenu.createchild">
         <menu
               icon="icons/neodoc/new_alfresco_content_model.gif"
               id="ru.neodoc.content.modeller.modelexplorer.alfresco"
               label="Alfresco"
               tooltip="Alfresco operations menu">
            <menu
                  id="ru.neodoc.content.modeller.new"
                  label="New">
               <command
                     commandId="ru.neodoc.content.modeller.new.model"
                     icon="icons/profile/Model.gif"
                     label="Model"
                     style="push">
               </command>
               <command
                     commandId="ru.neodoc.content.modeller.new.model.from.file"
                     icon="icons/profile/Model.gif"
                     label="Model from file ..."
                     style="push">
               </command>
               <command
                     commandId="ru.neodoc.content.modeller.new.namespace"
                     icon="icons/profile/Namespace1.gif"
                     label="Namespace"
                     style="push">
               </command>
            </menu>
            <menu
                  id="ru.neodoc.content.modeller.import"
                  label="Import">
               <command
                     commandId="ru.neodoc.content.modeller.import.namespace.registered"
                     icon="icons/full/obj16/Import.gif"
                     label="Import Registered Alfresco Namespace"
                     style="push">
               </command>
               <command
                     commandId="ru.neodoc.content.modeller.import.namespace.user"
                     icon="icons/full/obj16/Import.gif"
                     label="Import Alfresco Namespace From User Model"
                     style="push">
               </command>
            </menu>
            <separator
                  name="ru.neodoc.content.modeller.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="ru.neodoc.content.modeller.alfresco.elements.from.dictionaries"
                  icon="icons/neodoc/commands/DictToPack.gif"
                  label="Create elements from dictionary ..."
                  style="push">
            </command>
            <!--command
                  commandId="ru.neodoc.content.modeller.alfresco.elements.from.dictionaries.old"
                  icon="icons/neodoc/commands/DictToPack.gif"
                  label="Create elements from dictionary [OLD] ..."
                  style="push">
            </command-->
            <command
                  commandId="ru.neodoc.content.modeller.alfresco.load.xml"
                  icon="icons/neodoc/commands/LoadFromXML.gif"
                  label="Load from XML ..."
                  style="push">
            </command>
            <command
                  commandId="ru.neodoc.content.modeller.update.imports.dependencies"
                  icon="icons/neodoc/commands/UpdateImports.gif"
                  label="Update imports and dependencies"
                  style="push">
            </command>
            <!--command
                  commandId="ru.neodoc.content.modeller.alfresco.export.xml"
                  icon="icons/neodoc/commands/ExportToXML.gif"
                  label="Export to XML [OLD]"
                  style="push">
            </command>
            <command
                  commandId="ru.neodoc.content.modeller.alfresco.export.xml.new"
                  icon="icons/neodoc/commands/ExportToXML.gif"
                  label="Export to new XML [OLD] ..."
                  style="push">
            </command-->
            <command
                  commandId="ru.neodoc.content.modeller.alfresco.export.xml2"
                  icon="icons/neodoc/commands/ExportToXML.gif"
                  label="Export to XML"
                  style="push">
            </command>
            <command
                  commandId="ru.neodoc.content.modeller.alfresco.export.xml2.new"
                  icon="icons/neodoc/commands/ExportToXML.gif"
                  label="Export to new XML ..."
                  style="push">
            </command>
            <!--command
                  commandId="ru.neodoc.content.modeller.alfresco.import.xml"
                  icon="icons/neodoc/commands/UpdateFromXML.gif"
                  label="Update from XML [OLD]"
                  style="push">
            </command-->
            <command
                  commandId="ru.neodoc.content.modeller.alfresco.import.xml2"
                  icon="icons/neodoc/commands/UpdateFromXML.gif"
                  label="Update from XML"
                  style="push">
            </command>
            <separator
                  name="ru.neodoc.content.modeller.separator3"
                  visible="false">
            </separator>            
            <!--command
                  commandId="ru.neodoc.content.modeller.alfresco.test"
                  label="Test"
                  style="push">
            </command>
            <command
                  commandId="ru.neodoc.content.modeller.alfresco.test2"
                  label="Test 2"
                  style="push">
            </command-->
         </menu>
      </menuContribution>
   </extension>
   <!--extension
         point="org.eclipse.papyrus.uml.diagram.wizards.templates">
      <template
            di_file="templates/test/alf_4.2_base.di"
            file="templates/test/alf_4.2_base.uml"
            id="ru.neodoc.content.modeller.templates.test"
            language="alfresco"
            name="Alfresco 4.2 base model"
            notation_file="templates/test/alf_4.2_base.notation">
      </template>
   </extension-->

<!-- TODO
	<extension point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
	    <paletteDefinition ID="ru.neodoc.content.modeller.Alfresco_clazz"
	        class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
	        icon="icons/full/obj16/Alfresco.gif" name="Alfresco Class Diagram Elements"
	        path="model/alfresco.palette.xml">
	        <Priority name="Highest">
	        </Priority>
	        <editor id="org.eclipse.papyrus.uml.diagram.clazz">
	        </editor>
	    </paletteDefinition>
	</extension>
	-->
 <extension
       point="org.eclipse.ui.startup">
    <startup
          class="ru.neodoc.content.modeller.EmptyStartUp">
    </startup>
 </extension>
 <!--extension
       point="org.eclipse.papyrus.infra.core.model">
    <model
          classname="ru.neodoc.content.modeller.alfresco.model.AlfrescoModel"
          description="Alfresco model"
          fileExtension="alfresco">
    </model>
 </extension-->
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="ru.neodoc.content.modeller.preferences.NeodocPreferencePage"
          id="ru.neodoc.content.modeller.preferences.NeodocPreferencePage"
          name="Neodoc">
    </page>
    <page
          category="ru.neodoc.content.modeller.preferences.NeodocPreferencePage"
          class="ru.neodoc.content.modeller.preferences.ModellerPreferencePage"
          id="ru.neodoc.content.modeller.preferences.ModellerPreferencePage"
          name="Content Modeller">
    </page>
 </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="ru.neodoc.content.modeller.preferences.PreferenceInitializer">
    </initializer>
 </extension>
 <extension
       point="org.eclipse.papyrus.infra.architecture.commandProviders">
    <commandProvider
          class="ru.neodoc.content.modeller.commands.create.AlfrescoModelCommandProvider">
    </commandProvider>
 </extension>
 <extension
       point="org.eclipse.papyrus.infra.gmfdiag.common.paletteDefinition">
    <paletteDefinition
          ID="ru.neodoc.content.modeller.Alfresco_clazz"
          class="org.eclipse.papyrus.infra.gmfdiag.common.service.palette.ExtendedPluginPaletteProvider"
          icon="icons/full/obj16/Alfresco.gif"
          name="Alfresco Content Model Elements"
          path="model/palette/palette1.paletteconfiguration">
       <Priority
             name="Highest">
       </Priority>
       <editor
             id="org.eclipse.papyrus.uml.diagram.clazz"></editor>
    </paletteDefinition>
 </extension>
 <extension
       point="org.eclipse.papyrus.infra.types.core.elementTypeSetConfiguration">
    <elementTypeSet
          clientContextID="org.eclipse.papyrus.infra.services.edit.TypeContext"
          path="model/palette/palette1_UI.elementtypesconfigurations">
    </elementTypeSet>
 </extension>
 <extension
       point="org.eclipse.papyrus.infra.types.core.elementTypeSetConfiguration">
    <elementTypeSet
          clientContextID="org.eclipse.papyrus.infra.services.edit.TypeContext"
          path="model/palette/palette1_Semantic.elementtypesconfigurations">
    </elementTypeSet>
 </extension>
 <extension
       point="org.eclipse.papyrus.infra.gmfdiag.assistant.modelProviders">
    <modelProvider
          uri="model/palette/alfresco.assistants">
    </modelProvider>
 </extension>
   
</plugin>
